
/**
 * TYPOGRAPHY
 *
 * Anonymous Pro (Google Web Fonts)
 * font-family: 'Anonymous Pro', sans-serif;
 * font-weight: 400; (normal)
 * font-weight: 700; (bold)
 *
 * Futura PT (Typekit)
 * font-family: "futura-pt",sans-serif;
 * font-weight: 400; (normal)
 * font-weight: 700; (bold)
 *
 * FF Meta Serif Web Pro (Typekit)
 * font-family: 'ff-meta-serif-web-pro', serif;
 * font-weight: 500; (normal)
 */

/** SETUP ----- */

html {
  background: $bg_color;
  font: $fw_normal 100%/1.5 'futura-pt', sans-serif;
}

body {
  font-size: 1.25em; /* Was 1.25em */
  color: $text_color;
  line-height: 1.4;
  margin: 0;
  padding: $body_margin 0;

  @media screen and (min-width: $break-large) {
    padding: 4.5em;
    max-width: $page-max-width;
    width: 100%;
  }
}



/** LINKS ----- */

a {
  color: $link_color;
  text-decoration: none;
}

/** HEADINGS ----- */

h1,
h2 {
  color: $heading_color;
  font-weight: $fw_bold;
}

h1 {
  font-size: 2.2em;
  font-style: italic;
  line-height: 1;
  margin: 0 0 0.625em;

  @media screen and (min-width: $break-large) {
    font-size: 3.5em;
  }
}

h2 {
  font-size: 1.4em;
  line-height: 1;
  margin: 0 0 0.3em;
}

h3 {
  font-weight: $fw_normal;
}

h1 a,
h2 a {
  color: $heading_color;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus {
  color: $light_color;
}

/** TEXT ----- */

p {
  margin: 0 0 1em;
}

/** FORMS ----- */

input {
  background: none;
  border: 1px solid $link_color;
  border-radius: $radius;
  color: $link_color;
  display: block;
  font-family: 'futura-pt', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  padding: 8px 39px 8px 8px;
  width: 100%;

  @media screen and (min-width: $break-large) {
    padding: 15px 46px 15px 15px;
  }
}

::-webkit-input-placeholder {
  color: $link_color;
}

:-ms-input-placeholder {
  color: $link_color;
}

:-moz-placeholder {
  color: $link_color;
}

input:hover,
input:focus,
input:hover::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: $light_color;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

/** UI ----- */

.button {
  border: 1px solid $link_color;
  border-radius: $radius;
  display: inline-block;
  font-weight: $fw_bold;
  line-height: 1.5;
  padding: 15px;
}

.button:hover,
.button:focus {
  color: $light_color;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

@-moz-document url-prefix() {
  .button {
    padding: 13px 15px;
  }
}

/** HEADER ----- */

.header {
  padding: 0 $body_margin;

  @media screen and (min-width: $break-large) {
    padding: 0;
  }
}

/** NAV ----- */

.nav {
  padding: 0 $body_margin;
}

.search {
  position: relative;
}

.icon-search {
  color: $link_color;
  font-size: 0.8em;
  position: absolute;
  right: 18px;
  top: 14px;
}

@media screen and (min-width: $break-large) {
  .nav {
    padding: 0;
  }

  .search {
    max-width: 320px;
  }

  .icon-search {
    top: 21px;
  }
}

/** PODCASTS ----- */

.podcasts {
  list-style: none;
  margin: 0;
  padding: $body_margin+5 0 0;
}

.podcast {
  padding: $body_margin;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  figure {
    display: none;
  }

  img {
    border-radius: $radius;
    -moz-box-shadow: 2px 2px 0px rgba($bg_color, .5), 0 0 90px $light_color;
    -webkit-box-shadow: 2px 2px 0px rgba($bg_color, .5), 0 0 90px $light_color;
    box-shadow: 2px 2px 0px rgba($bg_color, .5), 0px 0px 90px rgba($light_color, 0.4);
    max-width: 100%;
  }
}

.podcast:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    float: left;
  }

  a {
    border: 1px solid $link_color;
    border-radius: $radius;
    display: inline-block;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 0.6em;
    font-weight: $fw_normal;
    margin-right: 8px;
    padding: 5px 10px;
  }

  a:hover,
  a:focus {
    color: $light_color;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
}

.description {
  height: 28px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-description,
.no-touch .podcast:hover .description {
  height: auto;
  overflow: auto;
  white-space: normal;
}

@media screen and (min-width: $break-large) {
  .podcast {
    border: 0;
    display: inline-block;
    margin: 0 -170px 0 -30px;
    padding: 30px 170px 30px 30px;
    width: 100%;

    figure {
      float: right;
      margin-right: -170px;
      max-width: 120px;
    }
  }

  .podcast:first-child {
    border: 0;
  }

  .no-touch .podcast:hover figure {
    display: block;
  }
}

/** FOOTER ----- */

footer {
  padding: 40px $body_margin 0;

  @media screen and (min-width: $break-large) {
    padding: 120px 0 0;
  }

  a {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  a:hover {
    background: $link_color;
    border-radius: 2px;
    color: $bg_color;
  }
}
